<!doctype html>
{% load static %}
<html long="zh">
<head>
    <meta charset="utf-8">
    <title>专家抽取系统</title>
	<b/>
	<b/>
	
    <link rel="stylesheet" href="../../../static/css/LoginStyle.css">
</head>
<body>
<!--头部显示-->
<nav class="header" id="head">
    <h1 class="LogoName">专家抽取系统</h1>
    <img src="../../../static/images/TopPic.png" width="100%" height="53">
</nav>
<!--中部内容-->
<div class="wrap" id="wrap">
    <div class="logWrap" >
        <img id="banner" class="banner" src="../../../static/images/demo2.png" >
        <div class="logShow">
            <!-- 头部提示信息 -->
            <div class="LoginIndex LoginTop">
                <p class="p1">登录</p>
            </div>
            <!-- 输入框 -->
            <div class="InputStr">
                <img src="/static/images/user.png" width="20" height="20" alt=""/>
                <input type="text"
                       placeholder="输入用户名" />
            </div>
            <div class="InputStr">
                <img src="../../../static/images/password.png" width="20" height="20" alt=""/>
                <input type="password"
                       placeholder="输入用户密码" />
            </div>
            <div class="LoginButton">
                <a href="/experts/index" target="_self"><button>登 录</button></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
