<!doctype html>
{% load static %}
<html long="zh">
<head>
    <meta charset="utf-8">
    <title>专家抽取系统</title>
	
    <link rel="stylesheet" href="../../../static/css/LoginStyle.css">
</head>
<body>
<!--头部显示-->
<nav class="header" id="head">
     
    <p class="LogoName" style="text-align:center">陆军防化指挥工程学院专家抽取系统</p>
    <img src="../../../static/images/TopPic.png" width="100%" height="73">
</nav>
<!--中部内容-->
<form id="inputForm" class="needs-validation" action="/experts/loginValidation/" method="post">
<div class="wrap" id="wrap">
    <div class="logWrap" >
        <img id="banner" class="banner" src="../../../static/images/demo2.png" >
        <div class="logShow">
            <!-- 头部提示信息 -->
            <div class="LoginIndex LoginTop">
                <p class="p1">登录</p>
	
            </div>
            <!-- 输入框 -->
            <div class="InputStr">
                <img src="/static/images/user.png" width="20" height="20" alt=""/>
                <input name="name" id="name" type="text"
                       placeholder="输入用户名" />
            </div>
            <div class="InputStr">
                <img src="../../../static/images/password.png" width="20" height="20" alt=""/>
                <input name= "passwd" id= "passwd" type="password"
                       placeholder="输入用户密码" />
            </div>
            <div class="LoginButton">
                <a href="/experts/loginValidation/" target="_self"><button>登 录</button></a>
            </div>
        </div>
    </div>
</div>
</form>
</body>
</html>
